# Dependencies
node_modules/
.pnp
.pnp.js

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Vercel
.vercel

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Env files
.env
.env.local
.env.*.local

# Temp
*.tmp
*.temp
